<!--

    Money Market Bi - BI Microservice for Money Market Bi deals is part of the Granular Bi System
    Copyright © 2025 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (reportBatch(); as reportBatchRef) {
      <div>
        <h2 data-cy="reportBatchDetailsHeading"><span>Report Batch</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ reportBatchRef.id }}</span>
          </dd>
          <dt><span>Report Date</span></dt>
          <dd>
            <span>{{ reportBatchRef.reportDate | formatMediumDate }}</span>
          </dd>
          <dt><span>Upload Time Stamp</span></dt>
          <dd>
            <span>{{ reportBatchRef.uploadTimeStamp | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ { null: '', ACTIVE: 'ACTIVE', CANCELLED: 'CANCELLED', REPLACED: 'REPLACED' }[reportBatchRef.status ?? 'null'] }}</span>
          </dd>
          <dt><span>Active</span></dt>
          <dd>
            <span>{{ reportBatchRef.active }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ reportBatchRef.description }}</span>
          </dd>
          <dt><span>File Identifier</span></dt>
          <dd>
            <span>{{ reportBatchRef.fileIdentifier }}</span>
          </dd>
          <dt><span>Process Flag</span></dt>
          <dd>
            <span>{{
              { null: '', PENDING: 'PENDING', IN_PROGRESS: 'IN_PROGRESS', FAILED: 'FAILED', PROCESSED: 'PROCESSED' }[
                reportBatchRef.processFlag ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Csv File Attachment</span></dt>
          <dd>
            @if (reportBatchRef.csvFileAttachment) {
              <div>
                <a (click)="openFile(reportBatchRef.csvFileAttachment, reportBatchRef.csvFileAttachmentContentType)">Open</a>
                {{ reportBatchRef.csvFileAttachmentContentType }}, {{ byteSize(reportBatchRef.csvFileAttachment) }}
              </div>
            }
          </dd>
          <dt><span>Uploaded By</span></dt>
          <dd>
            @if (reportBatch()!.uploadedBy) {
              <div>
                <a [routerLink]="['/moneymarketbi/application-user', reportBatch()!.uploadedBy?.id, 'view']">{{
                  reportBatchRef.uploadedBy?.applicationIdentity
                }}</a>
              </div>
            }
          </dd>
          <dt><span>Placeholder</span></dt>
          <dd>
            @for (placeholder of reportBatchRef.placeholders; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/moneymarketbi/placeholder', placeholder.id, 'view']">{{ placeholder?.token }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/moneymarketbi/report-batch', reportBatchRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
