<!--

    Money Market Bi - BI Microservice for Money Market Bi deals is part of the Granular Bi System
    Copyright © 2025 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (applicationUser(); as applicationUserRef) {
      <div>
        <h2 data-cy="applicationUserDetailsHeading"><span>Application User</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ applicationUserRef.id }}</span>
          </dd>
          <dt><span>Designation</span></dt>
          <dd>
            <span>{{ applicationUserRef.designation }}</span>
          </dd>
          <dt><span>Application Identity</span></dt>
          <dd>
            <span>{{ applicationUserRef.applicationIdentity }}</span>
          </dd>
          <dt><span>Organization</span></dt>
          <dd>
            @if (applicationUser()!.organization) {
              <div>
                <a [routerLink]="['/moneymarketbi/dealer', applicationUser()!.organization?.id, 'view']">{{
                  applicationUserRef.organization?.dealerName
                }}</a>
              </div>
            }
          </dd>
          <dt><span>Department</span></dt>
          <dd>
            @if (applicationUser()!.department) {
              <div>
                <a [routerLink]="['/moneymarketbi/dealer', applicationUser()!.department?.id, 'view']">{{
                  applicationUserRef.department?.dealerName
                }}</a>
              </div>
            }
          </dd>
          <dt><span>Security Clearance</span></dt>
          <dd>
            @if (applicationUser()!.securityClearance) {
              <div>
                <a [routerLink]="['/moneymarketbi/security-clearance', applicationUser()!.securityClearance?.id, 'view']">{{
                  applicationUserRef.securityClearance?.clearanceLevel
                }}</a>
              </div>
            }
          </dd>
          <dt><span>Dealer Identity</span></dt>
          <dd>
            @if (applicationUser()!.dealerIdentity) {
              <div>
                <a [routerLink]="['/moneymarketbi/dealer', applicationUser()!.dealerIdentity?.id, 'view']">{{
                  applicationUserRef.dealerIdentity?.dealerName
                }}</a>
              </div>
            }
          </dd>
          <dt><span>Placeholder</span></dt>
          <dd>
            @for (placeholder of applicationUserRef.placeholders; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/moneymarketbi/placeholder', placeholder.id, 'view']">{{ placeholder?.description }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/moneymarketbi/application-user', applicationUserRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
