<!--

    Money Market Bi - BI Microservice for Money Market Bi deals is part of the Granular Bi System
    Copyright © 2025 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-placeholder-heading" data-cy="PlaceholderCreateUpdateHeading">Create or edit a Placeholder</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let descriptionRef = editForm.get('description')!;
        <div class="mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          @if (descriptionRef.invalid && (descriptionRef.dirty || descriptionRef.touched)) {
            <div>
              @if (editForm.get('description')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let tokenRef = editForm.get('token')!;
        <div class="mb-3">
          <label class="form-label" for="field_token">Token</label>
          <input type="text" class="form-control" name="token" id="field_token" data-cy="token" formControlName="token" />
          @if (tokenRef.invalid && (tokenRef.dirty || tokenRef.touched)) {
            <div></div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_containingPlaceholder">Containing Placeholder</label>
          <select
            class="form-control"
            id="field_containingPlaceholder"
            data-cy="containingPlaceholder"
            name="containingPlaceholder"
            formControlName="containingPlaceholder"
            [compareWith]="comparePlaceholder"
          >
            <option [ngValue]="null"></option>
            @for (placeholderOption of placeholdersSharedCollection; track $index) {
              <option [ngValue]="placeholderOption">{{ placeholderOption.description }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_fiscalYears">Fiscal Year</label>
          <select
            class="form-control"
            id="field_fiscalYears"
            data-cy="fiscalYear"
            multiple
            name="fiscalYears"
            formControlName="fiscalYears"
            [compareWith]="compareFiscalYear"
          >
            @for (fiscalYearOption of fiscalYearsSharedCollection; track $index) {
              <option [ngValue]="fiscalYearOption">{{ fiscalYearOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_fiscalQuarters">Fiscal Quarter</label>
          <select
            class="form-control"
            id="field_fiscalQuarters"
            data-cy="fiscalQuarter"
            multiple
            name="fiscalQuarters"
            formControlName="fiscalQuarters"
            [compareWith]="compareFiscalQuarter"
          >
            @for (fiscalQuarterOption of fiscalQuartersSharedCollection; track $index) {
              <option [ngValue]="fiscalQuarterOption">{{ fiscalQuarterOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_fiscalMonths">Fiscal Month</label>
          <select
            class="form-control"
            id="field_fiscalMonths"
            data-cy="fiscalMonth"
            multiple
            name="fiscalMonths"
            formControlName="fiscalMonths"
            [compareWith]="compareFiscalMonth"
          >
            @for (fiscalMonthOption of fiscalMonthsSharedCollection; track $index) {
              <option [ngValue]="fiscalMonthOption">{{ fiscalMonthOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_moneyMarketLists">Money Market List</label>
          <select
            class="form-control"
            id="field_moneyMarketLists"
            data-cy="moneyMarketList"
            multiple
            name="moneyMarketLists"
            formControlName="moneyMarketLists"
            [compareWith]="compareMoneyMarketList"
          >
            @for (moneyMarketListOption of moneyMarketListsSharedCollection; track $index) {
              <option [ngValue]="moneyMarketListOption">{{ moneyMarketListOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
