<!--

    Money Market Bi - BI Microservice for Money Market Bi deals is part of the Granular Bi System
    Copyright © 2025 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (moneyMarketList(); as moneyMarketListRef) {
      <div>
        <h2 data-cy="moneyMarketListDetailsHeading"><span>Money Market List</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ moneyMarketListRef.id }}</span>
          </dd>
          <dt><span>Report Date</span></dt>
          <dd>
            <span>{{ moneyMarketListRef.reportDate | formatMediumDate }}</span>
          </dd>
          <dt><span>Upload Time Stamp</span></dt>
          <dd>
            <span>{{ moneyMarketListRef.uploadTimeStamp | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{
              { null: '', ACTIVE: 'ACTIVE', CANCELLED: 'CANCELLED', REPLACED: 'REPLACED' }[moneyMarketListRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ moneyMarketListRef.description }}</span>
          </dd>
          <dt><span>Active</span></dt>
          <dd>
            <span>{{ moneyMarketListRef.active }}</span>
          </dd>
          <dt><span>Placeholder</span></dt>
          <dd>
            @for (placeholder of moneyMarketListRef.placeholders; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/moneymarketbi/placeholder', placeholder.id, 'view']">{{ placeholder?.token }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span>Uploaded By</span></dt>
          <dd>
            @if (moneyMarketList()!.uploadedBy) {
              <div>
                <a [routerLink]="['/moneymarketbi/application-user', moneyMarketList()!.uploadedBy?.id, 'view']">{{
                  moneyMarketListRef.uploadedBy?.applicationIdentity
                }}</a>
              </div>
            }
          </dd>
          <dt><span>Report Batch</span></dt>
          <dd>
            @if (moneyMarketList()!.reportBatch) {
              <div>
                <a [routerLink]="['/moneymarketbi/report-batch', moneyMarketList()!.reportBatch?.id, 'view']">{{
                  moneyMarketListRef.reportBatch?.description
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/moneymarketbi/money-market-list', moneyMarketListRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
